<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body>
<div class="admin">
<h1>Admin home</h1>
</div>
<div class="song">
<a href="newSong">ADD new song</a>
<br>
</div >
<div class="view">
<a href="viewSongs">View all songs</a>
<br>
</div>
<div class="createpl">
<a href="createPlaylist">Create new playlist</a>
<br>
</div>
<div class="viewpl">
<a href="viewPlaylist">View all playlist</a>
</div>
</body>
</html>